.orb {
  display: block;
  height: 70vmin;
  width: 70vmin;
  border-radius: 140vmin;
  background: #1f7a8c;
  margin: auto;
  margin-bottom: 1vmin;
  transform: scale(0.3);
}

.orb_1 {
  animation-name: orb_1;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes orb_1 {
  from {
    transform: scale(0.3);
    background: #db222a;
  }
  to {
    transform: scale(1);
    background: #457b9d;
  }
}

.pop {
  display: block;
  float: left;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vmin;
  transform: translate(-50%, -50%);
  background-color: #1d3557;
  padding: 5vmin;
}

.pop > p {
  font-size: 4vmin;
  text-align: justify;
  color: white;
}

.ok-btn {
  font-size: 4vmin;
  width: 20vmin;
}
