.main-text {
  display: block;
  padding: 2vmin;
  margin-top: 30vmin;
  text-align: justify;
}
.start-btn {
  background-color: #c34f4f;
  padding: 1vmin;
  color: white;
  border: none;
  border-radius: 2vmin;
  display: block;
  font-size: 6vmin;
  margin: auto;
  width: 50vmin;
}

.main-text {
  font-size: 3vmin;
}
